<article class="grid grid--1X2">
  <div>
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </span>
    <h3 class="feature__heading">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eum qui
      sapiente asperiores dolor distinctio libero impedit animi quidem eius.
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <img src="" alt="" />
</article>
